.contact-section {
    width: 940px;
    margin-bottom: 30px;
}

form {
    margin-top: 30px;
}

.field {
    width: 220px;
    height: 35px;
    background: #fafafa;

    border: solid #eeeeee 1px;

    margin:6px 0px 6px 0px;
}

.text {
    width: 495px;
    height: 205px;
    background: #fafafa;

    margin-top: 6px;
    border: solid #eeeeee 1px;
}

.submit {
    border: none;
    background: no-repeat;
    font-weight: bold;
    margin: 15px 10px 40px 0px;
}

.centering input::-webkit-input-placeholder {
   color: #c6c6c6;
   text-transform: uppercase;
   padding-left: 15px;
   font-size: 0.85em;
}

.centering input:-moz-placeholder { /* Firefox 18- */
   color: #c6c6c6;
   text-transform: uppercase;
   font-size: 0.85em;
   padding-left: 15px;
}

.centering input::-moz-placeholder {  /* Firefox 19+ */
   color: #c6c6c6;
   text-transform: uppercase;
   font-size: 0.85em;
   padding-left: 15px;
}

.centering input:-ms-input-placeholder {  
   color: #c6c6c6;
   text-transform: uppercase;
   font-size: 0.85em;
   padding-left: 15px;  
}

.centering input.text::-webkit-input-placeholder {
   position: relative;
   bottom: 77px;
   font-size: 0.95em;
}

.centering input.text:-moz-placeholder { /* Firefox 18- */
   position: relative;
   bottom: 77px;
   font-size: 0.95em;
}

.centering input.text::-moz-placeholder {  /* Firefox 19+ */
   position: relative;
   bottom: 77px;
   font-size: 0.95em;
}

.centering input.text:-ms-input-placeholder {  
    position: relative;
    bottom: 77px;
    font-size: 0.95em;
}




