/* ==========================================================================
   HEADER AND BODY
   ========================================================================== */


/* ---------------------------------Basic------------------------------------- */

a, div, html, body, header, span, p, img, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #fefefe;
    font-family: 'Myriad Pro', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ---------------------------------Header------------------------------------- */


.main-logo {
	float: left;
	background: url('../images/main_logo.png') no-repeat;
	color: transparent;
	width: 164px;
	height: 28px;
}
	
	.main-logo a,
	.main-logo a:hover,
	.main-logo a:visited {
		color: transparent;
	}

.upper-header {
	margin-top: 30px;
}


.main-header form {
        float: right;
        margin-top: 0;
        position: relative;
    }

        .input {
            width: 200px;
            border: 1px solid #ececec;
            padding: 8px;
            font: 13px Arial, sans-serif;
            color: #464646;
        }

        .search-button{
            width: 20px;
            height: 20px;
            border: none;
            position: absolute;
            right: 10px;
            top: 5px;
            margin-top: 5px;
            background: transparent url("../images/search.png") no-repeat center top;
            cursor: pointer;
        }

        .input::-webkit-input-placeholder {
		   	font: 13px Arial, sans-serif;
           	color: #d5d5d5;
           	text-transform: none;
		}

		.input:-moz-placeholder { /* Firefox 18- */
		  	font: 13px Arial, sans-serif;
           	color: #d5d5d5;
           	text-transform: none;  
		}

		.input::-moz-placeholder {  /* Firefox 19+ */
		   	font: 13px Arial, sans-serif;
           	color: #d5d5d5;
           	text-transform: none;  
		}

		.input:-ms-input-placeholder {  
		   	font: 13px Arial, sans-serif;
            color: #d5d5d5;
            text-transform: none;  
		}



.main-navigation {
	margin-top: 30px;
	border-top: 1px solid #ededed;
	padding: 20px 0;
}

.main-navigation a{
	text-transform: uppercase;
	text-decoration: none;
	color: #2b2b2b;
	padding: 0 23px;
	border-right: 1px solid #ededed;
}

.main-navigation a:visited{
	color: #2b2b2b;
}

.main-navigation a:hover{
	text-transform: uppercase;
	text-decoration: none;
	color: #f03c3c;
	border-top: 1px solid #f03c3c;
	padding-top: 20px;
	position: relative;
	top: -1px;
}


/* ---------------------------------Footer------------------------------------- */

.main-footer {
	padding-top: 22px;
	border-top: 1px solid #ececec;
}

.main-footer a {
	content: " ";
	display: inline-block;
	height: 33px;
	width: 33px;
}

.social-icons{
	float: left;
}

.twitter-logo {
	background: url('../images/twitter_logo.png') no-repeat;
	height: 34px;
	width: 34px;
}

.facebook-logo {
	background: url('../images/facebook_logo.png') no-repeat;
}

.rss-logo {
	background: url('../images/rss_logo.png') no-repeat;
}

.pinterest-logo {
	background: url('../images/pinterest_logo.png') no-repeat;
}

.footer-content {
	float: right;
	text-align: right;
}

.footer-content .top-par-footer {
	font: bold 14px 'Myriad Pro', sans-serif;
}

.footer-content .top-par-footer span:first-child{
	border-right: 1px solid #ececec;
}

.footer-content .bottom-par-footer {
	font: 12px/25px 'Myriad Pro', sans-serif;
}


/* ---------------------------------Other------------------------------------- */

.whole-page-content {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 50px;

}

.centering{
    width: 940px;
    margin: 0 auto;
}

.main-heading {
	font-size: 35px;
	margin-bottom: 30px;
	margin-top: 20px;
	text-align: center;
}

.middle-crest {
    left: 42%;
	top: 35%;
  	width: 37px;
   	height: 37px;

   	background: url("../images/hover_button.png") 0 0;
    opacity: 0;
}